.headerDate {
    width: 30px;
    height: 40px;
    padding: 11px;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardDate {
    width: 30px;
    height: 40px;
    padding: 11px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day {
    color: $color-primary;
    font-weight: 600;
    font-size: 21px;
    margin: 0;
    border-bottom: solid #d6d5d5 1px;
    padding-right: 10%;
    padding-left: 10%;
}

.month {
    color: $color-secondary;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}